<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
     <%= render 'layouts/shim' %>  
     <!-- Above just means that we are going to get html from a file and paste it in, keeps it clean -->
  </head>
  <body>
  	<%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <!-- ERB uses message_type for the color -->
        <!-- Good example of combining ERB and HTML here -->
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
   		<%= yield %>
   		<%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html> 